<!DOCTYPE html>
<html>
<head>
  <title>Dallal</title>
  <%= stylesheet_link_tag    "dallal/application", media: "all" %>
  <%= javascript_include_tag "dallal/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
